@import '../../../node_modules/em-normalize/dist/em-normalize.scss';

body {
  font-family: 'Microsoft YaHei', 'PingFangSC', 'Helvetica', 'Arial', sans-serif;
}

// 滚动条默认显示样式
::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.3);
  -webkit-border-radius: 2px;
}

// 滚动条大小
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  position: absolute;
  right: 0;
  top: 0;
}

// 滚动框背景样式
::-webkit-scrollbar-track-piece {
  background: none;
  -webkit-border-radius: 0;
}
// 地图的关闭按钮 amap
.amap-info-close {
  display: none;
}
